{% load wagtailcore_tags %}
{% load i18n %}

<nav class="navigation">
    <p> {% trans "Мої замовлення" %}</p>
    <ul>
        <li>
            <a href="{% url 'cabinet:history-orders' %}"
               class="{% if request.resolver_match.url_name == 'history-orders' %}active{% endif %}">
                {% trans "Історія замовлень" %}
            </a>
        </li>
        <li>
            <a href="{% url 'cabinet:history-trans' %}"
               class="{% if request.resolver_match.url_name == 'history-trans' %}active{% endif %}">
                {% trans "Історія транзакцій" %}
            </a>
        </li>
    </ul>
    <p>{% trans "Моя учетная запись" %}</p>
    <ul>
        <li>
            <a href="{% url 'cabinet:contact-information' %}"
               class="{% if request.resolver_match.url_name == 'contact-information' %}active{% endif %}">
                {% trans "Контактна інформація" %}
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:change_password' %}"
               class="{% if request.resolver_match.url_name == 'change_password' %}active{% endif %}">
                {% trans "Пароль" %}
            </a>
        </li>
        <li>
            {% if address_page %}
            <a href="{% pageurl address_page %}"
               class="{% if request.resolver_match.url_name == 'address' %}active{% endif %}">
                {% trans "Адреса та реквізити" %}
            </a>
            {% endif %}
        </li>
    </ul>
</nav>