<nav class="navigation">
    <p>Мої замовлення</p>
    <ul>
        <li>
            <a href="{% url 'cabinet:history-orders' %}"
               class="{% if request.resolver_match.url_name == 'history-orders' %}active{% endif %}">
                Історія замовлень
            </a>
        </li>
        <li>
            <a href="{% url 'cabinet:history-trans' %}"
               class="{% if request.resolver_match.url_name == 'history-trans' %}active{% endif %}">
                Історія транзакцій
            </a>
        </li>
    </ul>
    <p>Моя учетная запись</p>
    <ul>
        <li>
            <a href="{% url 'cabinet:contact-information' %}"
               class="{% if request.resolver_match.url_name == 'contact-information' %}active{% endif %}">
                Контактна інформація
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:change_password' %}"
               class="{% if request.resolver_match.url_name == 'change_password' %}active{% endif %}">
                Пароль
            </a>
        </li>
        <li>
            <a href="#"
               class="{% if request.resolver_match.url_name == 'address' %}active{% endif %}">
                Адреса та реквізити
            </a>
        </li>
    </ul>
</nav>