 {% extends 'base.html' %}
{% load static %}

{% block title %}Реєстрація{% endblock %}
{% block body_class %}page{% endblock %}

{% block content %}
 	<div class="container pr">
		<div class="popup__cart">
			<div class="wrap">
				<div class="popup__cart_item">
					<div class="row align-items-center no-gutters item_row">
						<div class="col-md-5 col-12">
							<div class="item_title">
								<p>Орех соленый 80г.</p>
							</div>
						</div>
						<div class="col-md-7 col-12">
							<div class="row align-items-center no-gutters">
								<div class="col-6">
									<div class="item_quantity">
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i>
										</button>
										<input type="text" name="quantity" value="4" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button>
									</div>
								</div>
								<div class="col-5">
									<div class="item_sum">
										<p>100 <span>грн.</span></p>
									</div>
								</div>
								<div class="col-1">
									<div class="item_close">
										<a href="#">
											<i class="nut-icon icons-close-button"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup__cart_item">
					<div class="row align-items-center no-gutters item_row">
						<div class="col-md-5 col-12">
							<div class="item_title">
								<p>Орех сладкий 80г.</p>
							</div>
						</div>
						<div class="col-md-7 col-12">
							<div class="row align-items-center no-gutters">
								<div class="col-6">
									<div class="item_quantity">
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i>
										</button>
										<input type="text" name="quantity" value="8" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button>
									</div>
								</div>
								<div class="col-5">
									<div class="item_sum">
										<p>80 <span>грн.</span></p>
									</div>
								</div>
								<div class="col-1">
									<div class="item_close">
										<a href="#">
											<i class="nut-icon icons-close-button"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup__cart_sum">
					<div class="sum_item">
						<div class="sum_item_title">
							<p>Всего </p>
						</div>
						<div class="sum_item_new">
							<p>175 <i>грн.</i></p>
						</div>
					</div>
					<div class="sum_item">
						<div class="sum_item_button">
							<a href="#" class="button">Перейти в корзину</a>
						</div>
					</div>
				</div>
				<!-- Если корзина пуста -->
				<!-- <div class="popup__cart_clean">
					<p>Ваша корзина пуста</p>
				</div> -->
			</div>
		</div>
	</div>

	<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
							Личный кабинет
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="accaunt">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h1>Учетная запись</h1>
				</div>
				<div class="col-lg-9 col-md-6">
					<div class="row">
							<div class="col-lg-6">
									<div class="accaunt__manager">
										<ul>
											<li>
												<p>Ваш личный менеджер Олег</p>
											</li>
											<li><i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6">
										<span class="discount">
												Ваша персональная скидка - 5%
										</span>
								</div>
					</div>
				</div>
				<div class="col-lg-3">
					<nav class="navigation">
						<p>Мои заказы</p>
						<ul>
							<li><a href="#" class="active">История заказов</a></li>
							<li><a href="#">История транзакций</a></li>
						</ul>
						<p>Моя учетная запись</p>
						<ul>
							<li><a href="#">Контактная информация</a></li>
							<li><a href="#">Пароль</a></li>
							<li><a href="#">Адрес</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-9">

				</div>
			</div>
		</div>
	</section>

 {% endblock %}