{% extends "base_cabinet/base_cabinet.html" %}

{% block cabinet_content %}
<div class="col-lg-9">
    <div class="row">
        <div class="col-12">
            {% if client_orders %}
                <table id="table">
                    <thead>
                        <tr>
                            <th><span># Замовлення</span></th>
                            <th><span>Дата</span></th>
                            <th><span>Кіл-сть товарів</span></th>
                            <th><span>Статус</span></th>
                            <th><span>Вартість</span></th>
                            <th><span>Дії</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in client_orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.created_at|date:"d.m.Y" }}</td>
                            <td>{{ order.items.count }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td>{{ order.summary }} грн.</td>
                            <td>
                                <div class="icons_wrap">
                                    <a href="#"
                                       class="tooltip"
                                       title="Переглянути замовлення">
                                        <i class="nut-icon icons-view"></i>
                                    </a>
                                    <a href="#"
                                       class="tooltip"
                                       title="Повторити">
                                        <i class="nut-icon icons-copy"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="table__message">У вас ще немає замовлень!</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}