{% extends "base_cabinet/base_cabinet.html" %}
{% load wagtailimages_tags %}
{% load static city_tags %}
{% load i18n%}
{% block cabinet_content %}

<div class="col-md-9">
    <div class="row">
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if request.user.is_jur_person %}
                    <div class="form__title">1. Реквізити</div>
                    {{ address_form.edrpou }}
                    {{ address_form.company_name }}
                    {{ address_form.pdv }}
                    <div class="form__title">2. Адреса</div>
                   <select name="country" id="id_country">
                            <option value="">{% trans "Країна" %}</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}"
                                    {% if address_form.instance.country_id == country.id %}selected{% endif %}>
                                    {{ country|localized_name }}
                                </option>
                            {% endfor %}
                        </select>

                        <select name="region" id="id_region">
                            <option value="">{% trans "Область" %}</option>
                            {% for region in regions %}
                                <option value="{{ region.id }}"
                                    {% if address_form.instance.region_id == region.id %}selected{% endif %}>
                                    {{ region|localized_name }}
                                </option>
                            {% endfor %}
                        </select>
                    {{ address_form.city }}
                    {{ address_form.street }}
                    {{ address_form.zip_code }}
                {% else %}
                    <div class="form__title">Адреса</div>
                    <select name="country" id="id_country">
                            <option value="">{% trans "Країна" %}</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}"
                                    {% if address_form.instance.country_id == country.id %}selected{% endif %}>
                                    {{ country|localized_name }}
                                </option>
                            {% endfor %}
                        </select>

                        <select name="region" id="id_region">
                            <option value="">{% trans "Область" %}</option>
                            {% for region in regions %}
                                <option value="{{ region.id }}"
                                    {% if address_form.instance.region_id == region.id %}selected{% endif %}>
                                    {{ region|localized_name }}
                                </option>
                            {% endfor %}
                        </select>
                                        {{ address_form.city }}
                    {{ address_form.street }}
                {% endif %}
                <button class="button" type="submit">{% trans "Зберегти" %}</button>
            </form>
        </div>
        <div class="col-lg-6 align-self-end">
            {% if page.image %}
                {% image page.image fill-600x800 as banner %}
                <img src="{{ banner.url }}" alt="banner">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
jQuery(function($) {
    function syncStyledSelect($select) {
        var $selected = $select.find('option:selected');
        var $wrapper = $select.closest('.select');
        var $styled = $wrapper.find('.select-styled').first();
        if ($selected.length && $selected.val()) {
            $styled.text($selected.text());
        } else {
            $styled.text($select.find('option').first().text());
        }
    }

    function rebuildCustomOptions($select) {
        var $wrapper = $select.closest('.select');
        var $styled = $wrapper.find('.select-styled').first();
        var $list = $wrapper.find('.select-options').first();
        $list.empty();
        $select.find('option').each(function() {
            var $option = $(this);
            var $li = $('<li>', { rel: $option.val(), text: $option.text() });
            $li.on('click', function(e) {
                e.stopPropagation();
                $select.val($option.val()).trigger('change');
                $styled.text($option.text()).removeClass('active');
                $list.hide();
            });
            $list.append($li);
        });
    }

    var $country = $('#id_country');
    var $region = $('#id_region');

    syncStyledSelect($country);
    syncStyledSelect($region);
    rebuildCustomOptions($country);
    rebuildCustomOptions($region);

    $country.on('change', function() {
        syncStyledSelect($country);
        var countryId = $(this).val();
        $region.html('<option value="">Область</option>');
        rebuildCustomOptions($region);
        syncStyledSelect($region);
        if (!countryId) return;
        $.getJSON('/uk/api/regions/?country=' + countryId, function(data) {
            data.forEach(function(r) {
                $region.append($('<option>', { value: r.id, text: r.name }));
            });
            rebuildCustomOptions($region);
            syncStyledSelect($region);
        });
    });

    $region.on('change', function() {
        syncStyledSelect($region);
    });
});
</script>
{% endblock %}