{% extends 'base.html' %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}

<section class="first-section overlay"
    {% for block in page.top_banner %}
        {% if block.block_type == 'video_banner' %}
            style="background-image: url('{{ block.value.video_url }}')"
        {% endif %}
    {% endfor %}>
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>{{ page.title }}</li>
            </ul>
        </div>
        <div class="row align-items-center justify-content-center">
            {% for block in page.top_banner %}
                {% if block.block_type == 'video_banner' %}
                <a href="{{ block.value.video_url }}">
                    <h1>{{ block.value.title }}</h1>
                    <p>{{ block.value.text }}</p>
                    <span><i class="nut-icon icons-play-icon"></i></span>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="benefit gallery_section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <h2>{{ page.banner_title }}</h2>
                <p>{{ page.banner_subtitle }}</p>
            </div>
        </div>
        <div class="row justify-content-center">

            {% for block in page.images %}
                {% image block.value.image original as img %}

                {% if block.value.size == 'large' %}
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="wrap">
                        <div class="benefit__item"
                             style="background-image: url('{{ img.url }}')">
                        </div>
                        <div class="benefit__item item_hover overlay_green overlay_green_bg">
                            {% if block.value.title %}<h3>{{ block.value.title }}</h3>{% endif %}
                            {% if block.value.description %}<p>{{ block.value.description }}</p>{% endif %}
                        </div>
                    </div>
                </div>

                {% elif block.value.size == 'medium' %}
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="wrap">
                        <div class="benefit__item"
                             style="background-image: url('{{ img.url }}')">
                        </div>
                        <div class="benefit__item item_hover overlay_green overlay_green_bg">
                            {% if block.value.title %}<h3>{{ block.value.title }}</h3>{% endif %}
                            {% if block.value.description %}<p>{{ block.value.description }}</p>{% endif %}
                        </div>
                    </div>
                </div>

                {% elif block.value.size == 'full' %}
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="wrap">
                        <a href="{{ block.value.video }}"
                           class="benefit__item overlay benefit__item_video_text"
                           style="background-image: url('{{ img.url }}')">
                            <span><i class="nut-icon icons-play-icon"></i></span>
                            {% if block.value.title %}<h3>{{ block.value.title }}</h3>{% endif %}
                            {% if block.value.description %}<p>{{ block.value.description }}</p>{% endif %}
                        </a>
                    </div>
                </div>

                {% elif block.value.size == 'small' %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="wrap item_small">
                        {% if block.value.video %}
                            <a href="{{ block.value.video }}">
                                <span class="benefit__item item_small benefit__item_video overlay"
                                      style="background-image: url('{{ img.url }}')">
                                </span>
                            </a>
                        {% else %}
                            <div class="benefit__item item_small"
                                 style="background-image: url('{{ img.url }}')">
                            </div>
                            <div class="benefit__item item_hover overlay_green overlay_green_bg">
                                {% if block.value.title %}<h3>{{ block.value.title }}</h3>{% endif %}
                                {% if block.value.description %}<p>{{ block.value.description }}</p>{% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            {% endfor %}

        </div>
        <div class="row">
            <div class="wrapper">
                <a href="#" class="button button_transparent">Посмотреть еще</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}